<div class="nav"> 
    <div style="float: left;">
        <a href="/"><Button class="roundedButton">Home</Button></a>
    </div>
    <div class="right">
        <a href="/user/account"><Button class="roundedButton">My Profile</Button></a>
    </div>
    <div class="right">
        <form action="/user/logout" method="POST">
        <button style="margin-right: 10px;" class="roundedButton" type="submit">Logout</button>
        </form>
    </div>
</div>

<div class="center">
<h1> My Matches </h1> 
<div>
    {{#each users }}
    <div class="card">
        <h2>{{name}}</h2>
        {{ email }}
        <h4>{{bio}}</h4>
        <form action="/d/match/{{_id}}" method="POST">
        <button class="roundedButton">Remove Match</button>
        </form>
    </div>
{{/each}}
</div>
</div>