<!DOCTYPE html>
<html>
<head>
<link rel= "stylesheet" href="profile.css">

<center> <h1> Profile </h1> </center>  

<form class="edit" action="http://file:///Users/ramniksingh/Desktop/Jungle/JungleAPI/View/profile.html#" method="POST">
				
				<div class="profilename">
						Name: John Dever 
					</div>
	
    <div class="age">
Age: 24
    </div>
    <div class="country">
      Country: USA
    </div>
          <div class="bio">
            Bio: 
            IT major! I love to cook and play basketball in my free time. 
          </div>

    <div class="button">
      <a href="edit.html"> <button type="button" class="btn btn-success btn-sm" hr>
        Edit
      </button>
    </a>
    </div>
          </form>
			
<br>
<br>
</body>
</html>
