<!DOCTYPE html>
<html>
<head>
<link rel= "stylesheet" href="profile.css">

<div class="title"> 
  Profile
</div>

<form class="Edit" action="http://file:///Users/ramniksingh/Desktop/Jungle/JungleAPI/View/profile.html#" method="POST">
				
				<div class="profilename">
						John Dever 
					</div>
				<div class="button">
					<button type="button" class="btn btn-success btn-sm">Edit</button>
        </div>
        <div class="input">
          <label for="text">Name</label>
          <input type="name" id="name" name="name">
        </div>
<br>
<div>
  <div class="input">
    <label for="text">Age</label>
    <input type="age" id="age" name="age">
</div>
<div class="input">
  <label for="text">Country</label>
              <input type="country" id="country" name="country">
            </div>
           
          <br>
            <br>
            <div class="bio">  
              <label for="text">Bio</label>
              <input type="bio" id="bio" name="bio">
            </div>
          
          </form>
			
<br>
<br>
</body>
</html>
