<!DOCTYPE html>
<html>
<head>
<link rel= "stylesheet" href="edit.css">

<form class="edit" action="http://file:///Users/ramniksingh/Desktop/Jungle/JungleAPI/View/profile.html#" method="POST">
  <div class="title"> 
    Profile
  </div>  
  <div class="name">
          <label for="text">Name</label>
          <input type="name" id="name" name="name">
        </div>
<br>
<div>
  <div class="age">
    <label for="text">Age</label>
    <input type="age" id="age" name="age">
</div>
<div class="country">
  <label for="text">Country</label>
              <input type="country" id="country" name="country">
            </div>
            <div class="bio">  
              <label for="text">Bio</label>
              <input type="bio" id="bio" name="bio">
            </div>
            <div class="button">
              <button type="button" class="btn btn-success btn-sm">Edit</button>
            </div>
          </form>
			
<br>
<br>
</body>
</html>
