
.edit {
  text-align: center;
  margin: auto;
}
input {
  margin: 20px 0;
  font-size: 100%


  }

.title {
  color: #000000;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 7px;
  
}

.profilename{
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 7px;
  
}

.age {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 7px;
}

.country {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 7px;
}
.bio{
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 7px;

}

button{ 
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
}
