<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" href="stylesheet.css"
<title></title>

</head>
<body>
<center> <h1> Jungle </h1> </center>   
<form class="login" action="http://localhost:3000/user/login" method="POST">
<div class="input">   
    <label for="text">E-mail</label>
    <input type="email" id="email" name="email">
  </div>
  <div class="input"> 
    <label for="password">Password</label>
    <input type="password" id="to" name="password">
  </div>
    <div>
         <button type="login" value="Login">Login</button>
          </form>
    </div>
</form>
</body>
</html>