<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" href="signup.css">

</head>
<body>
<center> <h1> Jungle </h1> </center>   
<form class="edit" action="http://localhost:3000/user/login" method="POST">

  <div class="input">   
    <label for="text">Name</label>
    <input type="name" id="email" name="name">
  </div>
  </div>
<div class="input">   
    <label for="text">E-mail</label>
    <input type="email" id="email" name="email">
  </div>
 
  <div class="input"> 
    <label for="text">Age</label>
    <input type="age" id="age" name="age">
  </div>
  <div class="input"> 
    <label for="text">Country</label>
    <input type="country" id="country" name="country">
  </div>
  <div class="bio">  
    <label for="text">Bio</label>
    <input type="bio" id="bio" name="bio">
  </div>
  <div class="input"> 
    <label for="text">Password</label>
    <input type="password" id="password" name="password">
  </div>

    <div>
         <button type="login" value="Login">Sign Up</button>
    </div>
    <div>

    <div class="button">
      <a href="login.html"> <button type="button" class="btn btn-success btn-sm" hr>
        Back
      </button>
    </a>
 </div>
  </form>
</body>
</html>