* {box-sizing: border-box}


 input[type=text], input[type=email] {
    width: 10%;
    padding: 4px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid black;
    background: #fffdfd;
  }
  input[type=text], input[type=password] {
  width: 10%;
  padding: 4px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid black;
  background: #fffefe;
}

.login {
    text-align: center;
    margin: auto;
}


input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
button {
  background-color: #8ceb8f;
  color: white;
  padding:4px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
  
}

button:hover {
  opacity:1;
}
 